@media (min-width: 550px){
  .main {
    margin-top: 40px;
  }
}

#settings-span {
  padding-bottom: 20px;
  padding-top: 20px;
}

input {
  float:left;
  clear: both;
}

.time-control {
  width: 150px;
}

h1 {
  text-align: center;
}

.sign-wrapper {
  border-radius: 50%;
}

.image-wrapper {
  padding:15%;
}
.sign {
  width: 100%;
}

#rock {

    background-color: green;
}

#scissors {

    background-color: blue;
}

#paper {
   background-color: gold;
}

.active {
   box-shadow: 10px 10px 5px #888888;
}

#bot {
  width: 100%;
}

#bot-choice {
  position: relative;
}
.bot-choice-wrapper {
  position: absolute;
  top: 0;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 25%;
}
